<button class="btn btn-secondary mt-3" (click)="goBack()">Back</button>
<div class="row justify-content-start">
    <div class="col-md-6">
        <div class="attendance-form mt-4">
            <h2 class="mb-4">Add Attendance</h2>
            <form>
                <div class="mb-3">
                    <label for="full_name" class="form-label">Full Name:</label>
                    <input type="text" [(ngModel)]="Name" name="Name" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" [(ngModel)]="Email" name="Email" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="date" class="form-label">Date:</label>
                    <input type="date"[(ngModel)]="Date" name="Date" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="time" class="form-label">Time:</label>
                    <input type="time" [(ngModel)]="Time"  name="Time" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
            </form>
        </div>
    </div>
</div>
