<section id="section1">
     <div class="container">
          <!-- Header Content -->
          <div class="row">
               <div class="col-lg-7 col-md-12"> <!-- Use col-md-12 to make it full-width on smaller screens -->
                    <p class="fs-1 fw-900 p1">Next Generation Hiring Solution</p>
                    <p class="fs-5 p2">Powerful, agile, all-in-one hiring tool for your recruiting needs, built with
                         productivity at heart and loaded with features to help you hire more effectively</p>
                    <a href="admin-auth"><button type="submit" class="btn btn-dark btn-rounded btn-lg">Get
                              Started</button></a>
                    <!-- Use Bootstrap button classes for better styling -->
               </div>
               <div class="col-lg-5 col-md-12"> <!-- Use col-md-12 to make it full-width on smaller screens -->
                    <img src="../assets/img/1.png" alt="" srcset="" id="img" class="img-fluid">
                    <!-- Use img-fluid to make the image responsive -->
               </div>
          </div>
     </div>
</section>

<section id="section2">
     <p class="fs-2 text-center">Our Courses</p>
     <div class="scroll-container mt-5">
          <div class="row">
               <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                         <div class="col-md-4">
                              <img src="../assets/img/6.png" class="img-fluid rounded-start" alt="...">
                         </div>
                         <div class="col-md-8">
                              <div class="card-body">
                                   <h5 class="card-title">Web Developer</h5>
                                   <p class="card-text">This is a course for aspiring web developers.</p>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                         <div class="col-md-4">
                              <img src="../assets/img/7.png" class="img-fluid rounded-start" alt="...">
                         </div>
                         <div class="col-md-8">
                              <div class="card-body">
                                   <h5 class="card-title">Data Analysis By Tableau</h5>
                                   <p class="card-text">This course covers data analysis using Tableau.</p>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                         <div class="col-md-4">
                              <img src="../assets/img/8.png" class="img-fluid rounded-start" alt="...">
                         </div>
                         <div class="col-md-8">
                              <div class="card-body">
                                   <h5 class="card-title">Web Designer</h5>
                                   <p class="card-text">This course focuses on web design principles and tools.</p>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                         <div class="col-md-4">
                              <img src="../assets/img/9.png" class="img-fluid rounded-start" alt="...">
                         </div>
                         <div class="col-md-8">
                              <div class="card-body">
                                   <h5 class="card-title">Machine Learning Engineer</h5>
                                   <p class="card-text">Learn about machine learning algorithms and applications.</p>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                         <div class="col-md-4">
                              <img src="../assets/img/10.png" class="img-fluid rounded-start" alt="...">
                         </div>
                         <div class="col-md-8">
                              <div class="card-body">
                                   <h5 class="card-title">Artificial Intelligence</h5>
                                   <p class="card-text">Discover the world of artificial intelligence and its
                                        advancements.</p>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <div class="container d-flex justify-content-center p-5">
          <a href="user-auth"><button type="submit" class="btn btn-dark">Apply</button></a>
     </div>
</section>



<section id="section3">
     <p class="fs-2 text-center">The Fast Track to Your Next Job</p>

     <div class="container scroll-container mt-5">
          <div class="row">
               <div class="col-6 col-md-4 col-lg-3">
                    <div class="card bg-white text-black rounded-curve" style="height: 300px;">
                         <div class="icon-container p-3">
                              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                   class="bi bi-laptop" viewBox="0 0 16 16">
                                   <path
                                        d="M13.5 3a.5.5 0 0 1 .5.5V11H2V3.5a.5.5 0 0 1 .5-.5h11zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11zM0 12.5h16a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5z" />
                              </svg>
                         </div>
                         <div class="cut-curve bg-red"></div>
                         <div class="card-body">
                              <h5 class="card-title">Software Engineer</h5>
                              <p class="card-text">We are looking for a skilled software engineer to join our team and
                                   develop high-quality software solutions.</p>
                         </div>
                    </div>
               </div>
               <div class="col-6 col-md-4 col-lg-3">
                    <div class="card bg-white text-black rounded-curve" style="height: 300px;">
                         <div class="icon-container p-3">
                              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                   class="bi bi-bar-chart-line" viewBox="0 0 16 16">
                                   <path
                                        d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z" />
                              </svg>
                         </div>
                         <div class="cut-curve bg-yellow"></div>
                         <div class="card-body">
                              <h5 class="card-title">Data Analyst</h5>
                              <p class="card-text">Join our data analysis team to analyze and interpret complex data
                                   sets and help drive data-based decisions.</p>
                         </div>
                    </div>
               </div>
               <div class="col-6 col-md-4 col-lg-3">
                    <div class="card bg-white text-black rounded-curve" style="height: 300px;">
                         <div class="icon-container p-3">
                              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                   class="bi bi-server" viewBox="0 0 16 16">
                                   <path
                                        d="M1.333 2.667C1.333 1.194 4.318 0 8 0s6.667 1.194 6.667 2.667V4c0 1.473-2.985 2.667-6.667 2.667S1.333 5.473 1.333 4V2.667z" />
                                   <path
                                        d="M1.333 6.334v3C1.333 10.805 4.318 12 8 12s6.667-1.194 6.667-2.667V6.334a6.51 6.51 0 0 1-1.458.79C11.81 7.684 9.967 8 8 8c-1.966 0-3.809-.317-5.208-.876a6.508 6.508 0 0 1-1.458-.79z" />
                                   <path
                                        d="M14.667 11.668a6.51 6.51 0 0 1-1.458.789c-1.4.56-3.242.876-5.21.876-1.966 0-3.809-.316-5.208-.876a6.51 6.51 0 0 1-1.458-.79v1.666C1.333 14.806 4.318 16 8 16s6.667-1.194 6.667-2.667v-1.665z" />
                              </svg>
                         </div>
                         <div class="cut-curve bg-blue"></div>
                         <div class="card-body">
                              <h5 class="card-title">Network Administrator</h5>
                              <p class="card-text">Seeking a skilled network administrator to manage and maintain our
                                   organization's network infrastructure.</p>
                         </div>
                    </div>
               </div>
               <div class="col-6 col-md-4 col-lg-3">
                    <div class="card bg-white text-black rounded-curve" style="height: 300px;">
                         <div class="icon-container p-3">
                              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                   class="bi bi-filetype-html" viewBox="0 0 16 16">
                                   <path fill-rule="evenodd"
                                        d="M14 4.5V11h-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5Zm-9.736 7.35v3.999h-.791v-1.714H1.79v1.714H1V11.85h.791v1.626h1.682V11.85h.79Zm2.251.662v3.337h-.794v-3.337H4.588v-.662h3.064v.662H6.515Zm2.176 3.337v-2.66h.038l.952 2.159h.516l.946-2.16h.038v2.661h.715V11.85h-.8l-1.14 2.596H9.93L8.79 11.85h-.805v3.999h.706Zm4.71-.674h1.696v.674H12.61V11.85h.79v3.325Z" />
                              </svg>
                         </div>
                         <div class="cut-curve bg-green"></div>
                         <div class="card-body">
                              <h5 class="card-title">Web Developer</h5>
                              <p class="card-text">We're hiring a web developer to create and maintain engaging and
                                   user-friendly websites for our clients.</p>
                         </div>
                    </div>
               </div>
               <div class="col-6 col-md-4 col-lg-3">
                    <div class="card bg-white text-black rounded-curve" style="height: 300px;">
                         <div class="icon-container p-3">
                              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                                   class="bi bi-robot" viewBox="0 0 16 16">
                                   <path
                                        d="M6 12.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5ZM3 8.062C3 6.76 4.235 5.765 5.53 5.886a26.58 26.58 0 0 0 4.94 0C11.765 5.765 13 6.76 13 8.062v1.157a.933.933 0 0 1-.765.935c-.845.147-2.34.346-4.235.346-1.895 0-3.39-.2-4.235-.346A.933.933 0 0 1 3 9.219V8.062Zm4.542-.827a.25.25 0 0 0-.217.068l-.92.9a24.767 24.767 0 0 1-1.871-.183.25.25 0 0 0-.068.495c.55.076 1.232.149 2.02.193a.25.25 0 0 0 .189-.071l.754-.736.847 1.71a.25.25 0 0 0 .404.062l.932-.97a25.286 25.286 0 0 0 1.922-.188.25.25 0 0 0-.068-.495c-.538.074-1.207.145-1.98.189a.25.25 0 0 0-.166.076l-.754.785-.842-1.7a.25.25 0 0 0-.182-.135Z" />
                                   <path
                                        d="M8.5 1.866a1 1 0 1 0-1 0V3h-2A4.5 4.5 0 0 0 1 7.5V8a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1v1a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1v-.5A4.5 4.5 0 0 0 10.5 3h-2V1.866ZM14 7.5V13a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7.5A3.5 3.5 0 0 1 5.5 4h5A3.5 3.5 0 0 1 14 7.5Z" />
                              </svg>
                         </div>
                         <div class="cut-curve"></div>
                         <div class="card-body">
                              <h5 class="card-title">Machine Learning Engineer</h5>
                              <p class="card-text">Join our machine learning team and work on cutting-edge AI projects
                                   and algorithms.</p>
                         </div>
                    </div>
               </div>
          </div>
     </div>

     <div class="container d-flex justify-content-center p-5">
          <a href="#footer"> <button type="submit" class="btn btn-outline-dark"
                    style="margin-right: 20px;">Contact</button></a>
          <a href="user-auth"><button type="submit" class="btn btn-dark">Apply</button></a>
     </div>
</section>



<section id="section4">
     <div class="container">
          <div class="row">
               <div class="col">
                    <img src="../assets/img/2.png" alt="" srcset="" id="img1">
               </div>
               <div class="col">
                    <p class="fs-2 ">Perfect for Candidates. <br>Beautiful for Employers.</p>

                    <div class="row">
                         <div class="col">
                              <div class="card" style="height: 29vh;">
                                   <div class="card-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                             fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                             <path
                                                  d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                                        </svg>
                                   </div>
                                   <div class="card-body">
                                        <p class="card-heading">Profile Highlighter</p>
                                        <p class="card-subheading">Highlight your skills and experience</p>
                                   </div>
                              </div>
                         </div>
                         <div class="col">
                              <div class="card" style="height: 29vh;">
                                   <div class="card-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                             fill="currentColor" class="bi bi-journals" viewBox="0 0 16 16">
                                             <path
                                                  d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2 2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v9a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2z" />
                                             <path
                                                  d="M1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 2.5v.5H.5a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1H2v-.5a.5.5 0 0 0-1 0z" />
                                        </svg>
                                   </div>
                                   <div class="card-body" style="height: 29vh;">
                                        <p class="card-heading">Interactive Assessment</p>
                                        <p class="card-subheading">Assess candidates interactively</p>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="row">
                         <div class="col">
                              <div class="card" style="height: 29vh;">
                                   <div class="card-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                             fill="currentColor" class="bi bi-briefcase" viewBox="0 0 16 16">
                                             <path
                                                  d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z" />
                                        </svg>
                                   </div>
                                   <div class="card-body">
                                        <p class="card-heading">Career Booster.</p>
                                        <p class="card-subheading">Boost your career prospects.</p>
                                   </div>
                              </div>
                         </div>
                         <div class="col">
                              <div class="card" style="height: 29vh;">
                                   <div class="card-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                             fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16">
                                             <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                             <path
                                                  d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z" />
                                        </svg>
                                   </div>
                                   <div class="card-body">
                                        <p class="card-heading">Featured Profile</p>
                                        <p class="card-subheading">Get your profile featured.</p>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>

<section id="section5">
     <p class="fs-2 text-center mt-5">What People Say About Our Service</p>
     <div class="container1">
          <div class="rows slider-left">
               <div class="cols">
                    <p class="fs-5">"I am amazed by the excellent service provided. The team went above and beyond to
                         ensure our needs were met. Highly recommended!"</p>
               </div>
               <div class="cols">
                    <p class="fs-5">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet mauris
                         vel libero convallis hendrerit. Nullam dapibus, urna at bibendum posuere, nibh libero tristique
                         elit, nec accumsan metus justo nec turpis."</p>
               </div>
               <div class="cols">
                    <p class="fs-5">"Their service is outstanding! I've had the pleasure of working with this company
                         for years. Their professionalism and dedication to delivering quality results are unmatched.
                         Thank you for your excellent service!"</p>
               </div>
          </div>
     </div>
</section>


<!-- Footer Section -->
<footer class="footer" id="footer">
     <div class="container">
          <div class="company-details">
               <h3>Company Details</h3>
               <p><strong>Company Name:</strong> Example Company</p>
               <p><strong>Address:</strong> 123 Main Street, Cityville</p>
               <p><strong>Phone:</strong> (555) 123-4567</p>
               <p><strong>Email:</strong> info@example.com</p>
               <p><strong>Website:</strong> www.example.com</p>
          </div>
          <div class="contact-details">
               <h3>Contact Details</h3>
               <p><strong>Phone:</strong> (555) 987-6543</p>
               <p><strong>Email:</strong> contact@example.com</p>
          </div>
     </div>
</footer>