<!-- Navbar -->
<div class="container-fluid">
     <div class="row">
         <div class="col">
             <div class="navbar" [ngClass]="{'open': isMenuOpen}">
 
                 <ul>
                     <li class="list toggler" (click)="toggleNavbar()">
                         <span class="icon">
                             <!-- Toggler icon -->
                             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-list" viewBox="0 0 16 16">
                                 <path fill-rule="evenodd"
                                     d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm0 6a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8zm0 6a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-1z" />
                             </svg>
                         </span>
                     </li>
                     <li class="list" [ngClass]="{'active': activeIndex === 0}" (click)="setActiveIndex(0)">
                         <a class="icon-link" (click)="navigateTo('Attendance Tracking')">
                             <span class="icon" data-tooltip="Attendance Tracking">
                                 <!-- Icon for Attendance Tracking -->
                                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-calendar-check" viewBox="0 0 16 16">
                                     <path
                                         d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                                     <path
                                         d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                                 </svg>
                             </span>
                             <span class="title">Attendance Tracking</span>
                         </a>
                     </li>
                     <li class="list" [ngClass]="{'active': activeIndex === 1}" (click)="setActiveIndex(1)">
                         <a class="icon-link" (click)="navigateTo('Payment Details')">
                             <span class="icon" data-tooltip="Payment Details">
                                 <!-- Icon for Payment Details -->
                                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card-2-back" viewBox="0 0 16 16">
                                   <path d="M11 5.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1z"/>
                                   <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2zm13 2v5H1V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zm-1 9H2a1 1 0 0 1-1-1v-1h14v1a1 1 0 0 1-1 1z"/>
                                 </svg>
                             </span>
                             <span class="title">Payment Details</span>
                         </a>
                     </li>
                     <li class="list" [ngClass]="{'active': activeIndex === 2}" (click)="setActiveIndex(2)">
                         <a class="icon-link" (click)="navigateTo('Request Meetings')">
                             <span class="icon" data-tooltip="Request Meetings">
                                 <!-- Icon for Request Meetings -->
                                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-video" viewBox="0 0 16 16">
                                   <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5zm11.5 5.175 3.5 1.556V4.269l-3.5 1.556v4.35zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H2z"/>
                                 </svg>
                             </span>
                             <span class="title">Request Meetings</span>
                         </a>
                     </li>
                 </ul>
             </div>
         </div>
         <!-- Centered Image -->
         <div class="col">
             <!-- Use the router-outlet to display the routed content -->
             <ng-container *ngIf="activeComponent; else showImage">
                 <!-- Display the active component -->
                 <ng-container *ngComponentOutlet="activeComponent"></ng-container>
             </ng-container>
 
             <ng-template #showImage>
                 <!-- Display the image -->
                 <img src="../../../assets/img/15.png" alt="" class="img1">
             </ng-template>
         </div>
     </div>
 </div>
 