<section id="section1">
     <div class="container container1">
       <div class="row justify-content-center align-items-center">
         <div class="col">
           <div class="glassmorphism-form p-4 rounded">
             <!-- Login Form -->
             <form *ngIf="!showSignupForm" (ngSubmit)="login()">
               <h2 class="text-center mb-4 text-dark">HR Login</h2>
               <!-- Add your login form fields here -->
               <div class="mb-3">
                 <input type="email" class="form-control" placeholder="Email" [(ngModel)]="email" name="email">
               </div>
               <div class="mb-3">
                 <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" name="password">
               </div>
               <button type="submit" class="btn btn-primary">Login</button>
               <p class="p-1 text-dark">Register if you're not an HR Admin
                 <button type="button" class="btn btn-link" (click)="toggleForm()">Register</button>
               </p>
             </form>
             <!-- Signup Form -->
             <form *ngIf="showSignupForm" (ngSubmit)="signup()">
               <h2 class="text-center mb-4 text-dark">HR Sign-Up</h2>
               <div class="mb-3">
                 <input type="text" class="form-control" placeholder="Username" [(ngModel)]="username" name="username">
               </div>
               <div class="mb-3">
                 <input type="email" class="form-control" placeholder="Email" [(ngModel)]="email" name="email">
               </div>
               <div class="mb-3">
                 <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" name="password">
               </div>
               <button type="submit" class="btn btn-primary">Signup</button>
               <p class="p-1 text-dark">Login if you're an HR Admin
                 <button type="button" class="btn btn-link" (click)="toggleForm()">Login</button>
               </p>
             </form>
           </div>
         </div>
       </div>
     </div>
   </section>
   