<!-- Navbar -->
<div class="container-fluid">
     <div class="row">
          <div class="col-lg-3">
               <div class="navbar" [ngClass]="{'open': isMenuOpen}">

                    <ul>
                         <li class="list toggler" (click)="toggleNavbar()">
                              <span class="icon">
                                   <!-- Put your toggler icon here, for example: -->
                                   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-list" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                             d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm0 6a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8zm0 6a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-1z" />
                                   </svg>
                              </span>
                         </li>
                         <li class="list" [ngClass]="{'active': activeIndex === 5}" (click)="setActiveIndex(5)">
                              <a class="icon-link" (click)="navigateTo('Job Application')">
                                   <span class="icon" data-tooltip="Job Application">
                                        <!-- Icon for Job Application -->
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-file-text" viewBox="0 0 16 16">
                                             <path
                                                  d="M8.5 0a2.5 2.5 0 0 1 2.5 2.5V7h4.5a2.5 2.5 0 0 1 2.5 2.5v6a2.5 2.5 0 0 1-2.5 2.5H3a2.5 2.5 0 0 1-2.5-2.5V9a2.5 2.5 0 0 1 2.5-2.5H8V2.5A2.5 2.5 0 0 1 8.5 0z" />
                                             <path
                                                  d="M3 9.5A1.5 1.5 0 0 1 4.5 8H6v3a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V8h1.5a1.5 1.5 0 0 1 1.5 1.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1z" />
                                        </svg>
                                   </span>
                                   <span class="title">Job Application</span>
                              </a>
                         </li>
                         <li class="list" [ngClass]="{'active': activeIndex === 6}" (click)="setActiveIndex(6)">
                              <a class="icon-link" (click)="navigateTo('Application Status')">
                                   <span class="icon" data-tooltip="Application Status">
                                        <!-- Icon for Application Status -->
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                             <path
                                                  d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm0 12a1 1 0 1 1 0-2 1 1 0 0 1 0 2zm1-5.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM8 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                                        </svg>
                                   </span>
                                   <span class="title">Application Status</span>
                              </a>
                         </li>
                    </ul>
               </div>
          </div>
          <!-- Centered Image -->
          <div class="col-lg-9">
               <!-- Use the router-outlet to display the routed content -->
               <ng-container *ngIf="activeComponent; else showImage">
                    <!-- Display the active component -->
                    <ng-container *ngComponentOutlet="activeComponent"></ng-container>
               </ng-container>

               <ng-template #showImage>
                    <div class="container-fluid">
                         <h4 class="text-center mt-4 mb-4">Recommended Jobs</h4>
                         <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                              <div class="col">
                                   <div class="card">
                                        <div class="card-body">
                                             <div class="d-flex align-items-center">
                                                  <img src="../../../assets/img/full-stack_5433707.png"
                                                       alt="Front End Developer" class="rounded-circle img-fluid"
                                                       style="height: 50px;">
                                                  <p class="ms-3 mb-0">Date: August 5, 2023</p>
                                             </div>
                                             <div class="text-center mt-3">
                                                  <h5 class="card-title">Full Stack Web Developer</h5>
                                                  <p class="card-subtitle">Part Time</p>
                                                  <p class="card-description mt-2">Lorem ipsum dolor sit amet
                                                       consectetur adipisicing elit. Velit obcaecati provident animi
                                                       aliquam minus</p>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <!-- Second Card -->
                              <div class="col">
                                   <div class="card">
                                        <div class="card-body">
                                             <div class="d-flex align-items-center">
                                                  <img src="../../../assets/img/ai_1966931.png"
                                                       alt="Artificial Engineer" class="rounded-circle img-fluid"
                                                       style="height: 50px;">
                                                  <p class="ms-3 mb-0">Date: August 5, 2023</p>
                                             </div>
                                             <div class="text-center mt-3">
                                                  <h5 class="card-title">Artificial Engineer</h5>
                                                  <p class="card-subtitle">Part Time</p>
                                                  <p class="card-description mt-2">Lorem ipsum dolor sit amet,
                                                       consectetur adipisicing elit. Sint, maxime eos, delectus ad
                                                       temporibus sed dolor</p>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <!-- Third Card -->
                              <div class="col">
                                   <div class="card">
                                        <div class="card-body">
                                             <div class="d-flex align-items-center">
                                                  <img src="../../../assets/img/mobile-cloud_9811639.png"
                                                       alt="Cloud Application Developer"
                                                       class="rounded-circle img-fluid" style="height: 50px;">
                                                  <p class="ms-3 mb-0">Date: August 5, 2023</p>
                                             </div>
                                             <div class="text-center mt-3">
                                                  <h5 class="card-title">Cloud Application Developer</h5>
                                                  <p class="card-subtitle">Part Time</p>
                                                  <p class="card-description mt-2">Lorem ipsum dolor sit, amet
                                                       consectetur adipisicing elit. Sed mollitia aut dignissimos
                                                       quisquam reprehenderit</p>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <!-- Fourth Card -->
                              <div class="col">
                                   <div class="card">
                                        <div class="card-body">
                                             <div class="d-flex align-items-center">
                                                  <img src="../../../assets/img/stats_164424.png" alt="Data Analyst"
                                                       class="rounded-circle img-fluid" style="height: 50px;">
                                                  <p class="ms-3 mb-0">Date: August 5, 2023</p>
                                             </div>
                                             <div class="text-center mt-3">
                                                  <h5 class="card-title">Data Analyst</h5>
                                                  <p class="card-subtitle">Part Time</p>
                                                  <p class="card-description mt-2">Lorem ipsum dolor sit amet
                                                       consectetur adipisicing elit. Expedita nam repudiandae</p>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <!-- Fifth Card -->
                              <div class="col">
                                   <div class="card">
                                        <div class="card-body">
                                             <div class="d-flex align-items-center">
                                                  <img src="../../../assets/img/training_10008123.png"
                                                       alt="Sales Force Developer" class="rounded-circle img-fluid"
                                                       style="height: 50px;">
                                                  <p class="ms-3 mb-0">Date: August 5, 2023</p>
                                             </div>
                                             <div class="text-center mt-3">
                                                  <h5 class="card-title">Sales Force Developer</h5>
                                                  <p class="card-subtitle">Part Time</p>
                                                  <p class="card-description mt-2">Lorem ipsum dolor sit amet
                                                       consectetur adipisicing elit. Sed mollitia aut dignissimos
                                                       quisquam reprehenderit</p>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <!-- Sixth Card -->
                              <div class="col">
                                   <div class="card">
                                        <div class="card-body">
                                             <div class="d-flex align-items-center">
                                                  <img src="../../../assets/img/analytics_1713215.png"
                                                       alt="Marketing Specialist" class="rounded-circle img-fluid"
                                                       style="height: 50px;">
                                                  <p class="ms-3 mb-0">Date: August 6, 2023</p>
                                             </div>
                                             <div class="text-center mt-3">
                                                  <h5 class="card-title">Marketing Specialist</h5>
                                                  <p class="card-subtitle">Full Time</p>
                                                  <p class="card-description mt-2">Lorem ipsum dolor sit amet
                                                       consectetur adipisicing elit. Quasi distinctio nulla dolore
                                                       eligendi incidunt.</p>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <!-- Seventh Card -->
                              <div class="col">
                                   <div class="card">
                                        <div class="card-body">
                                             <div class="d-flex align-items-center">
                                                  <img src="../../../assets/img/software-developer_3528180.png"
                                                       alt="Software Engineer" class="rounded-circle img-fluid"
                                                       style="height: 50px;">
                                                  <p class="ms-3 mb-0">Date: August 6, 2023</p>
                                             </div>
                                             <div class="text-center mt-3">
                                                  <h5 class="card-title">Software Engineer</h5>
                                                  <p class="card-subtitle">Full Time</p>
                                                  <p class="card-description mt-2">Lorem ipsum dolor sit amet
                                                       consectetur adipisicing elit. Eaque incidunt quam id illum magni.
                                                  </p>
                                             </div>
                                        </div>
                                   </div>
                              </div>

                              <!-- Eighth Card -->
                              <div class="col">
                                   <div class="card">
                                        <div class="card-body">
                                             <div class="d-flex align-items-center">
                                                  <img src="../../../assets/img/brand-engagement_3588296.png"
                                                       alt="Financial Analyst" class="rounded-circle img-fluid"
                                                       style="height: 50px;">
                                                  <p class="ms-3 mb-0">Date: August 6, 2023</p>
                                             </div>
                                             <div class="text-center mt-3">
                                                  <h5 class="card-title">Financial Analyst</h5>
                                                  <p class="card-subtitle">Full Time</p>
                                                  <p class="card-description mt-2">Lorem ipsum dolor sit amet
                                                       consectetur adipisicing elit. Dolore, necessitatibus vero aut
                                                       quisquam.</p>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>

               </ng-template>
          </div>
     </div>
</div>