<div class="container mt-4">
  <p class="fs-5">Users Job Application Details</p>
  <div class="card-group">
    <div class="row">
      <div class="col-md-6" *ngFor="let resume of resumes">
        <div class="card text-light " style="background-color:#2d3155">
          <div class="card-body">
            <div *ngIf="isEditing && editedResumeId === resume._id">
              <form (submit)="updateStatus()">
                <div class="mb-3">
                  <label for="status" class="form-label">Status</label>
                  <input type="text" class="form-control" id="status" name="status" [(ngModel)]="editedStatus">
                </div>
                <button type="submit" class="btn btn-danger">Update Status</button>
                <button type="button" class="btn btn-secondary" (click)="cancelEditing()">Cancel</button>
              </form>
            </div>
            <h5 class="card-title">{{ resume.full_name }}</h5>
            <p class="card-text"><strong>Position:</strong> {{ resume.position }}</p>
            <p class="card-text"><strong>Email:</strong> {{ resume.email }}</p>
            <p class="card-text"><strong>Phone:</strong> {{ resume.phone }}</p>
            <p class="card-text"><strong>Address:</strong> {{ resume.address }}</p>
            <p class="card-text"><strong>Job Type:</strong> {{ resume.job_type }}</p>
            <p class="card-text"><strong>Education:</strong> {{ resume.education }}</p>
            <p class="card-text"><strong>Experience:</strong> {{ resume.experience }}</p>
            <p class="card-text"><strong>Cover Letter:</strong> {{ resume.cover_letter }}</p>
            <p class="card-text"><strong>Status:</strong> {{ resume.status }}</p>
            <a class="btn btn-danger"  [href]="'http://localhost:9000/download/' + resume._id">Download Resume</a>
            <a class="btn btn-danger" (click)="deleteResume(resume._id)">Delete Resume</a>
            <a class="btn btn-danger" *ngIf="!isEditing || editedResumeId !== resume._id" (click)="startEditing(resume._id, resume.status)">Edit Status</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>